CI_ENVIRONMENT = production
app.baseURL = 'https://your-domain.com/'
app.forceGlobalSecureRequests = true
app.sessionDriver = 'CodeIgniter\\Session\\Handlers\\FileHandler'
app.sessionSavePath = WRITEPATH . 'session'
app.CSPEnabled = true

database.default.hostname = localhost
database.default.database = verify_dummy_ticket
database.default.username = verify_user
database.default.password = change-me
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_unicode_ci

security.csrfProtection = 'session'
security.tokenRandomize = true
security.regenerate = true
security.redirect = true

payment.defaultProvider = 'dummy'
payment.stripeSecretKey = ''
payment.stripePublishableKey = ''
